body{
background-color:#FA8072;
}

h1{
  display:inline;
  font-family: 'Abel', sans-serif;
  vertial-align:center;
  text-align:center;
  color:#BCF4F5;
}

h2{
  font-family: 'Abel', sans-serif;
  color:#DAEFB3;
  text-align:center;
}

h3{
  font-family:"Helvetica", sans-serif;
  color:#DAEFB3;
  padding-left:40px;
}

th{
  font-family:"Helvetica", sans-serif;
  color:#DAEFB3;
}

#logo{
  width:150px;
  vertical-align:middle;
  align:center;
}

#siteTitle{
  text-align:center;
}

#happyPeople{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:30%;
}

p{
  font-family:"Helvetica", sans-serif;
  display: inline-block;
  width: calc((100%/4) - 5em);
  vertical-align: top;
  margin: 1em;
  color:#BCF4F5;
  padding-left:25px;
  align:center;
}


#salmon{
  display:inline-block;
  width: calc((100%/4) - 4em);
}

#estimates{
    background-color:#173064;
}

#story{
  align:middle;
  background-color:#173064;
}

#columns{
  display:inline-table;
  width: calc((100%/5) - 4em);
  font-family:"Roboto Slab", serif;
  color:#BCF4F5;
  text-align:center;
  padding-left:40px;
  table-layout: fixed;
}

td{
  background-color: #58A4B0;
}

#td.even{
  background-color: #A9BCD0;
}

#table{
  width: 33%
}
