body{
background-color:#FA8072;
}

h1{
  display:inline;
  vertial-align:center;
  text-align:center;

  color:#BCF4F5;
}

h2{
  color:#DAEFB3;
}

h3{
  color:#DAEFB3;
}

#logo{
  width:150px;
  vertical-align:middle;
  align:center;
}

#siteTitle{
  text-align:center;
}

li{
  color:#BCF4F5
}
